.navbar li a{
    text-decoration: none;
    margin-top: 10px;
    margin-bottom:  70px;
    color: aliceblue;
 
}
.navbar li{
    display: inline;
    list-style: none;
    margin-top: 100px;
   
    margin-left: 200px;
     /* margin-right: 1px; */
   /* text-align: right; */
    
    }
    .navbar h1{
        margin-left: 4%;
        font-size: 990px;
        margin-bottom: 50px;
    }
.navbar{
    display: inline;
    position: absolute;
    bottom: 700px;
}
ul{
    display: inline;
    width: 20px;

}
.outer{
    color: white;
}
.inner{
    margin-left: 500px;
    background-color: yellow;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: right;
  
}

.box4{
    text-align: left;
    position: absolute;
    bottom: 450px;
    color: white;
    font-family: cursive;
}
.box{
    color: yellow;
    font-family: cursive;
    }
.box3{
    background-color: yellow;
    font-size: 15px;
  /*  margin-left: 100px;*/
    position: absolute;
    bottom: 440px;
    margin-left: 100px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-family: cursive;
    
}
.box1{
    width: 60px;
    height: 800px;
    background-color: rgb(7, 7, 7);
    font-size: 50px;
  
}
body{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://cdn5.balboacapital.com/uploads/2017/10/burger-and-french-fries.jpg);
 background-size: cover;
    background-repeat: no-repeat;

   
    
}
.box2{
    background-color: yellow;
    width: 60px;
    height: 300px;
   position: absolute;
   top:500px;
   font-size: 40px;
}
.box5{
     color: white;
     margin-left: 80px;
     position: absolute;
     bottom: 680px;
}
